In [1]:
from scipy import stats
import  pandas as pd
pd.read_csv("Unas.csv")

    Fisika  Kimia  Matematika  Bahasa Indonesia  Bahasa Inggris
0       78     16          61                69              85
1       84     95          86                59              83
2       49     23          33                97              70
3       26     30          39                42              44
4       44     24          98                48              52
..     ...    ...         ...               ...             ...
95      23     21          11                68              40
96      62     72          48                62              88
97      89     41          60                15              65
98      49     37          39                71              55
99      21    100          35                34              21

[100 rows x 5 columns]

In [10]:
df=pd.read_csv("Unas.csv")

for col in df.columns:
    print("jumlah data keseluruhan ",df[col].count())
    print("rata-rata   ",df[col].mean())
    print("nila minimal ",df[col].min())
    print("Q1       ",df[col].quantile(0.25))
    print("Q2          ",df[col].quantile(0.5))
    print("Q3          ",df[col].quantile(0.75))
    print("Nilai Max   ",df[col].max())
    print("kemencengan","{0:.2f}".format(round(df[col].skew(),2)))
    print("kemencengan          " ,"{0:.6f}".format(round(df[col].skew(),6)))
    print("Standar Deviasi   ","{0:.2f}".format(round(df[col].std(),2)))
    print("Variansi         ","{0:.2f}".format(round(df[col].var(),2)))

jumlah data keseluruhan  100
rata-rata    55.89
nila minimal  11
Q1        28.0
Q2           55.0
Q3           82.25
Nilai Max    99
kemencengan -0.07
Nilai modus [23 64 35 40 50] dengan jumlah [4 4 3 5 4]
kemencengan           -0.066503
Standar Deviasi    27.29
Variansi          744.77
jumlah data keseluruhan  100
rata-rata    53.83
nila minimal  10
Q1        28.75
Q2           53.0
Q3           80.0
Nilai Max    100
kemencengan 0.06
Nilai modus [23 64 35 40 50] dengan jumlah [4 4 3 5 4]
kemencengan           0.059693
Standar Deviasi    28.02
Variansi          785.40
jumlah data keseluruhan  100
rata-rata    55.37
nila minimal  11
Q1        35.0
Q2           54.0
Q3           75.5
Nilai Max    99
kemencengan 0.08
Nilai modus [23 64 35 40 50] dengan jumlah [4 4 3 5 4]
kemencengan           0.082344
Standar Deviasi    24.79
Variansi          614.68
jumlah data keseluruhan  100
rata-rata    55.29
nila minimal  11
Q1        32.0
Q2           55.5
Q3           80.5
Nilai Max    100
kemencengan 0.00
Nilai modus [23 64 35 40 50] dengan jumlah [4 4 3 5 4]
kemencengan           0.003440
Standar Deviasi    27.76
Variansi          770.51
jumlah data keseluruhan  100
rata-rata    54.42
nila minimal  10
Q1        36.0
Q2           55.0
Q3           70.25
Nilai Max    99
kemencengan 0.00
Nilai modus [23 64 35 40 50] dengan jumlah [4 4 3 5 4]
kemencengan           0.002205
Standar Deviasi    23.93
Variansi          572.59